<div class="border-container">
	<div class="container">
		<div class="row">
			<div class="col-4 text-center mains">
				<h1> Eat-Da-Burger! </h1>
				<img src="/assets/images/burger.png" alt="burger" id="burger-image" />
			</div>
			<div class="col-8 text-center mains">
				<div class="row">
					<div class="col-6 text-center">
						<div class="row">
							{{#each burger_data}}
							{{#unless this.devoured}}
							<div class="col-9 text-center items">
								{{this.id}}. {{this.burger_name}}
							</div>
							<div class="col-3 text-center">
								<form class="devour-form button-size">
									<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
									<button type="submit" class="buttons devour">Devour</button>
								</form>
							</div>
							{{/unless}}
							{{/each}}
						</div>
					</div>
					<div class="col-6">
						<div class="row">
							{{#each burger_data}}
							{{#if this.devoured}}
							<div class="col-12 text-center items">
								{{this.id}}. {{this.burger_name}}
							</div>
							{{/if}}
							{{/each}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12" id="order-window">
						<form action="/burgers/create" method="POST">
							<input type="text" class="form-control" name="burger_name" value="" id="order-box">
							<button type="submit" class="buttons" id="order-button">Submit</button>
						</form>
						<p class="items">Enter a Custom Order!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>